<div class="grid-card">
  <div *ngFor="let item of foundations" class="card mx-2">
    <img src="{{ item.image }}" class="card-img-top" />
    <div class="card-body">
      <p class="card-title">
        {{ item.brand }}
      </p>
      <span class="card-subtitle">{{ item.shade }}</span>
      <p class="card-price">
        ${{ item.price }}
      </p>
    </div>
  </div>
  <div *ngFor="let item of lipsticks" class="card mx-2">
    <img src="{{ item.image }}" class="card-img-top" />

    <div class="card-body">
      <p class="card-title">
        {{ item.brand }}
      </p>
      <span class="card-subtitle">{{ item.shade }}</span>
      <p class="card-price">
        ${{ item.price }}
      </p>
    </div>
  </div>
</div>
