@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,800&display=swap');

.btn-warning {
  border-radius: 0;
  transform: skew(347deg);
  background: #dffe02;
  text-transform: uppercase;
  padding: 6px 4px;
  border: none;
  box-shadow: 2px 2px 6px -1px #00000069;
  font-family: 'JetBrains Mono', monospace;
  &:hover {
    box-shadow: none;
  }
}
