<app-custom-form></app-custom-form>
<h4>Productos existentes</h4>
<div class="card-group">
  <div *ngFor="let item of foundations" class="card mx-1 upload-card">
    <div class="card-body">
      <p class="card-title">
        {{ item.brand }}
      </p>
      <span class="card-subtitle">{{ item.shade }}</span>
      <p class="card-price">
        ${{ item.price }}
      </p>
    </div>
  </div>
  <div *ngFor="let item of lipsticks" class="card mx-1 upload-card">

    <div class="card-body">
      <p class="card-title">
        {{ item.brand }}
      </p>
      <span class="card-subtitle">{{ item.shade }}</span>
      <p class="card-price">
        ${{ item.price }}
      </p>
    </div>
  </div>
</div>
