<h3>Agregar un producto nuevo</h3>
<form action="">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="form-group mb-2">
        <label for="brand">Marca y modelo</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="form-group mb-2">
        <label for="shade">Shade</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="form-group mb-2">
        <label for="price">Precio</label>
        <input type="number" class="form-control" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 my-2 text-center">
      <div class="btn btn-coderhouse">Agregar</div>
    </div>
  </div>
</form>
